header {
    background-color: var(--brightBlue);
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

header h2 {
    color: white;
    background-color: var(--lightBlue);
    padding: 10px 50px;
    border-radius: 10px;
    border: 3px solid var(--lightOrange);

    display: inline;
    margin: 10px;
}